@media (max-width:767px){
    .smCenter {
        justify-content: center;
    }
}
.cardContainer{
    margin-top: 70px !important;
    margin-bottom: 50px;
}
.headerCategories{
    width: 98.5%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: #fff;
    color: gray; 
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}
.headerCategories:hover{
    color: gray;
    cursor: default;
}
.headerCategories h1{
    margin-bottom: 10px;
}

.categoryButton{
    border: none;
    padding: 10px;
    background-color: #fff;
    color: gray;
    font-weight:600;
    text-transform: uppercase;
}
.categoryCard{
    position: relative;
    height: 55vh;
    opacity: 0.9;
}
.categoryCard:hover{
    opacity: 1;
    transition:0.5s all ease-in-out;
}
.cardBody{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardBody h1{
    text-transform: uppercase;
    background-color:gray;
    padding: 10px;
    top: 0;
}
    
.productCheckbox{
    width: 25px;
    height: 25px;
    position: absolute;
    border: 2px solid darkorange;
    top: 0;
    right: 0;
    margin-top: 0;
}

.productCheckbox:checked{
    background-color:green;
    border: white;
    /* box-shadow: none; */
  }

  .productCheckbox:active{
      box-shadow: none;
      border: green;
  }
.productCheckbox:hover{
    border: none !important;
    transition: none !important;
    border-radius: none;
    box-shadow: none;

}
.productCheckbox:focus{
    box-shadow: none;
}
