.checkoutcard{
    position:fixed;
    top:50%;
    left:85%;
    opacity: 1 !important;
    transform:translate(-50%,-50%);
    z-index: 100;
    overflow-y: scroll;
}

@media (max-width:767px) {
    .checkoutcard{
        left:60%;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .checkoutcard{
        left:75%;
    }
}
