.categoryButtonEdit1{
    position: absolute;
    bottom:10% !important;   
    left: 2px; 
    border: none;
    padding: 10px;
    color: white;
    font-weight:600;
    text-transform: uppercase;
}
.categoryButtonEdit2{
    position: absolute;
    bottom:10% !important;    
    border: none;
    right: 2px;
    padding: 10px;
    color: white;
    font-weight:600;
    text-transform: uppercase;
}
.categoryButtonEdit{
    position: absolute;
    bottom:10% !important;   
    left: 2px; 
    border: none;
    padding: 10px;
    color: white;
    font-weight:600;
    text-transform: uppercase;
}
.categoryButtonDelete{
    position: absolute;
    bottom:10% !important;    
    border: none;
    right: 2px;
    padding: 10px;
    color: white;
    font-weight:600;
    text-transform: uppercase;
}

.categoryCardEdit{
    position: relative;
    height: 55vh;
    opacity: 0.9;
}
.categoryCardEdit:hover{
    opacity: 1;
    transition:0.5s all ease-in-out;
}
.cardBodyEdit{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardBodyEdit h1{
    text-transform: uppercase;
    background-color:gray;
    padding: 10px;
    top: 0 !important;
}

 .create_product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center !important;
}
.upload2{
    max-width: 450px;
    width: 100%;
    border: 1px solid white;
    position: relative;
}
#file_up2{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}
#file_up2::before{
    content: "+";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0 !important;
    left: 0;
    background: white !important;
    color: #C58882;
    font-size: 15rem;
    text-align: center;
    cursor: pointer;
}
#file_img2{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
#file_img2 img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
#file_img2 span{
    position: absolute;
    top: 0px;
    right: 0px;
    background: white;
    border: 1px solid #ddd;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}

.editCategoryInput{
    position: absolute;
    bottom: 40%;
    left: 0;
}