header h1 {
    text-align: center;
    margin: 0px 10px;
}

header a {
    font-size: 19px;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: white;
    transition: all 0.5s;
}
.navIcons{
    list-style: none;
    color: black;
}

@media(max-width:767px){
    .navCenter{
        justify-content: center !important;
    }
}
