
.navContainer a {
    font-size: 20px;
    height: 4vh;
    text-decoration: none;
    color: white;
}

nav a.nav_link:hover {
    cursor: pointer;
    color: rgb(196, 103, 134);
    background: black;
    height: 3vh;
  }

.navContainer {
    
    height: 5vh;
}

@media(max-width:767px){
    .navCenter{
        justify-content: center !important;
    }
}

