.headerLogo {
    text-align: center;
    margin: 0px 10px;
}

.navContainer a {
    font-size: 19px;
    text-decoration: none;
    color: black;
}

.navContainer a:hover {
    color: white;
    transition: all 0.5s;
}

.navContainer {
    /* margin-bottom: 6.6vh !important; */
    height: 5vh;
}

@media(max-width:767px){
    .navCenter{
        justify-content: center !important;
    }
}

