/* .nav{
    height: 60px;
    width: 100%;
    background-color: #E1A351;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* #logo{
    display: flex;
   
    align-items: center;
    margin: 0 0 0 30px; 

} */

.navbar{
    padding: 0 ;
}

.logo img{
   
    height: 5vh;
    width: 5vw;
    margin: 5px;
    
}
/* 
.nav h1{
    color: #fff;
  
}

.menu{
   list-style: none;
  

}
.menu li{
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;


}

.menu li a{
    color: #fff;
    text-decoration: none;

} */

/* .login img{
    height: auto;
    width: 40px;
    margin-right: 30px;

} */

.navItems {
    text-decoration: none;
    color: rgb(41, 16, 16);
    margin: 20px;
}

.navItems:hover {

    color: grey;
    background-color: white;
    padding: 5px 0px;
    transition: all 0.2s ease-in-out
}

.navIcons {

    list-style-type: none;
}

.navMenu {
    
    line-height: 8vh;
    font-size: 18px;
}

.navContainer {
    height: 8vh;
    background-color: rgb(152, 163, 127);
}
