*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.modal-open {
    padding-right: 0 !important;
  }

  .modal-backdrop
{
    opacity:0.1 !important;
}

.history {
    background-image: linear-gradient(to top, #C58882 0%, #C58882 100%) !important;
    min-height: 80vh !important;
}
.modalClassX button{
    width: 40px;
    border: none;
    font-size: 20px;
    background-color: white !important;
}
.modalClassX button span{
    font-size: 28px !important;

}
.modal-content .modalAddress {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
@media(max-width:767px){

    .modalRow{
        justify-content: left !important;
    }
  
    .modalColumn{
        margin-left: 0 !important;
        padding: 0 !important;
    }
}