
  .contact-form{
    padding: 0 10px;
    overflow: hidden;
    margin-bottom: 20px;
    
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
    border: 2px solid rgb(194, 179, 179);
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #E1A351;
  }

  .contact-form-btn{
    float: right;
    border: 0;
    background: #E1A351;
    color: #fff;
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px 0 20px 0;
  }
  .contact-form-btn:hover{
    background: rgb(0, 0, 0);
  }
  p a{
    color: red;
  }


.contact-form{
  border:2px solid rgb(231, 223, 223);
  margin:100px auto 0px auto;
  padding: 20px;
  width: 50%;
  
}



.contact-form-text{
  
  margin-bottom: 20px;
}

