.menuTitle{
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;   
}
.menuId{
    font-size: 16px ;
    font-weight: 300;
}


.priceAndOrder{
position: absolute;
width: 90%;
top: 60%;

}

.menuPrice{
    font-size: 35px;
    font-weight: 100;
}


.menuOrderDiv{
    display: flex;
    flex-direction: row; 
    margin-right: 30px; 
    align-items: center;  
}
.menuOrderNumber{
    border: 1px solid;
    border-radius: 10px;
}
.menuOrderIcon{
    justify-content: center;
    font-weight: 800;
    font-size: 25px; 
    width: 35px;
    height: 35px;
    display: flex;
    margin: auto;
}
.menuOrder{
    cursor: pointer;
}


.summaryCard{
    justify-content: center !important;
    font-size: 30px;
    font-weight: 300;
}

@media (max-width:767px){
    
    .menuColumnCart{
        height: 55vh !important;
    }
    .menuImg{
        width: 100% !important;
        height: 50% !important;
        
    }
    
    .menuBody{
        width: 100% !important;
        
    }
    .menuTitle{
        font-size: 19px !important;
    }
    .menuText{
        font-size: 13px;
        height: 30%;
    }
    .menuPrice{
        font-size: 22px;
    }
    
    .menuOrderIcon{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
   
    .cartFooterRow{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;

    }
    .summaryCardCol{
        text-align: center;
    }
  
    .summaryCard{
        font-size: 23px;
        margin: 0;
        padding: 0 !important;
        margin-left: 0 !important;
    }
    .priceAndOrder{
        margin-top: 10px;
    }
    .cartButton{
        padding: 5px !important;
    }
    .shoppingButton{
        justify-content: space-around !important;
        margin-top: 5px;
    }

}
@media (min-width:768px){
    .menuColumnCart{
        height: 38vh !important;
    }
    .menuTitle{
        font-size: 23px !important;
    }
    .menuText{
        font-size: 16px;
    }
    .menuPrice{
        font-size: 25px;
    }
    .menuOrderIcon{
        font-size: 21px;
    }
  
   
}