
.menuItem{
    margin-top: 10vh !important;
    margin-bottom: 3vh;
}
.menuTitle{
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;   
}

.menuText{
    font-size: 19px;
    height: 20%;
}
.priceAndOrder{
position: absolute;
width: 90%;
top: 60%;

}

.menuPrice{
    font-size: 35px;
    font-weight: 100;
}

.menuOrderAndButton{
    display: flex;
    height: 4vh;
    flex-direction: row;
    align-items: center;  
}
.menuButtonDiv{
    display: flex;
    margin: auto 0;

}
.menuOrderDiv{
    display: flex;
    flex-direction: row; 
    margin-right: 30px; 
    align-items: center;
   
}
.menuOrderNumber{
    border: 1px solid;
    border-radius: 10px;
}
.menuOrderIcon{
    justify-content: center;
    font-weight: 800;
    font-size: 25px; 
    width: 35px;
    height: 35px;
    display: flex;
    margin: auto;


}
.menuOrder{
    cursor: pointer;
}
.menuButton:hover{
    background-color:gray;
    color: white;
}
.menuButton{
    padding: 10px;
    background-color: #fff;
    color: gray;
    font-weight: 800;
    border: none;
   

}
.summaryCard{
    justify-content: center !important;
    font-size: 30px;
    font-weight: 300;
}

@media (max-width:767px){
    
    .menuColumn{
        height: 35vh !important;
    }
    .menuImg{
        width: 100% !important;
        height: 50% !important;
        
    }
    
    .menuBody{
        width: 100% !important;
        
    }
    .menuTitle{
        font-size: 19px !important;
    }
    .menuText{
        font-size: 13px;
        height: 30%;
    }
    .menuPrice{
        font-size: 22px;
    }
    .menuOrderAndButton{
        height: 4.2vh;
    }
    .menuOrderIcon{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    .menuButton{
        font-weight: 400 !important;
        padding:0 5px;
    }
    .summaryCard{
        font-size: 26px;
    }

}
@media (min-width:768px){
    .menuColumn{
        height: 38vh !important;
    }
    .menuTitle{
        font-size: 23px !important;
    }
    .menuText{
        font-size: 16px;
    }
    .menuPrice{
        font-size: 25px;
    }
    .menuOrderIcon{
        font-size: 21px;
    }
    .menuButton{
        padding: 5px;
    }
    .menuOrderAndButton{
        height: 5vh;
    }
}