/* .startSeite{
    background-image: url(../img/home.gif);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    
}  */


    @media screen and (min-width: 1200px) {
        .slider img{
            height: 90vh;
        }
        
      }

      
.slider{
    margin-top: 6.6vh;
}
